<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaythari.myfirstapp">

    <!--for the shake sensor-->
    <uses-feature
        android:name = "android.hardware.sensor.accelerometer"
        android:required="true" />
    <!--for location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--for notification-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--for music path-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="DevilO'Clock"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TouchToNext" android:screenOrientation="portrait"></activity>
        <activity android:name=".TouchToNext2" android:screenOrientation="portrait"></activity>
        <activity android:name=".TouchToNext3" android:screenOrientation="portrait"></activity>
        <activity android:name=".ShakeEvent" android:screenOrientation="portrait"></activity>
        <activity android:name=".LocationTrack" android:screenOrientation="portrait"></activity>

        <receiver android:name=".AlarmReceiver"/>
        <service android:name=".AlarmRingtone" android:enabled="true"></service>
    </application>

</manifest>